<script>
  let clicked = false;
</script>

<div>
  <button class="btn btn-primary" on:click={() => (clicked = true)}>
    click here
  </button>
  <p id="demo"></p>

  <script>
    function btn btn-primary ()
      {#if clicked = true}
      <p>"You have clicked the button!" </p>        
      {:else}
      <p>"You have not clicked the button!"</p>    
  </script>
</div>