<style>
    p{color: steelblue; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: x-large}
</style>
<p>I <span style= "color: green">really</span> like data visualisation!</p>