<script>
    const name = 'Sofia'
    const things = ['Kittens', 'Chocolate', 'the color purple']
    const my_List = {name, things}
</script>

<p> My name is {name} and these are some of my favourite things: {things}.</p>