<script>
    const number_rad =4
    const pi = 3.1416
    function function_1 (a, b) {return a*b*2}
    const sol = function_1(number_rad, pi)
</script>
<p> The circumference of a sphere with radius {number_rad}m is {sol}m. </p>